[Desktop Entry]
Categories=Science;Development;IDE;
Comment[en_US]=Kronos IDE
Comment=Kronos IDE
Exec=/usr/bin/env bash "/home/youssef-ben-letaifa/Desktop/Kronos Project/Kro/run-kronos.sh"
GenericName[en_US]=
GenericName=
Icon=/home/youssef-ben-letaifa/Desktop/Kronos Project/Kro/iconK.ico
MimeType=
Name[en_US]=Kronos 2026.1
Name=Kronos 2026.1
Path=/home/youssef-ben-letaifa/Desktop/Kronos Project/Kro
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
